{% extends ':location:layout.html.twig' %}

{% block navBarLinks %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije hardwera
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('category_index') }}">Lista</a></li>
            <li><a href="{{ path('category_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vlasnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('owner_index') }}">Lista</a></li>
            <li><a href="{{ path('owner_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lokacije
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('location_index') }}">Lista</a></li>
            <li><a href="{{ path('location_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odsjek
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('organization_index') }}">Lista</a></li>
            <li><a href="{{ path('organization_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Svrhe laboratorija
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('purpose_index') }}">Lista</a></li>
            <li><a href="{{ path('purpose_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Korisnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('user_index') }}">Lista</a></li>
            <li><a href="{{ path('user_new') }}">Novo</a></li>
        </ul>
    </li>
{% endblock %}

{% block navBarLinksRight %}
    <li><a href="/logout">Logout</a> </li>
{% endblock %}

{% block content %}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <div class="container">
        <h1>Uredi lokaciju</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Uredi" />
        {{ form_end(edit_form) }}
        <br/>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Obriši">
        {{ form_end(delete_form) }}
        <br/>
        <a href="{{ path('location_index') }}">Natrag na popis</a>
    </div>
{% endblock %}
