{% extends ':location:layout.html.twig' %}

{% block navBarLinks %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije hardwera
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('category_index') }}">Lista</a></li>
            <li><a href="{{ path('category_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vlasnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('owner_index') }}">Lista</a></li>
            <li><a href="{{ path('owner_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lokacije
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('location_index') }}">Lista</a></li>
            <li><a href="{{ path('location_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odsjek
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('organization_index') }}">Lista</a></li>
            <li><a href="{{ path('organization_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Svrhe laboratorija
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('purpose_index') }}">Lista</a></li>
            <li><a href="{{ path('purpose_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Korisnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('user_index') }}">Lista</a></li>
            <li><a href="{{ path('user_new') }}">Novo</a></li>
        </ul>
    </li>
{% endblock %}

{% block navBarLinksRight %}
    <li><a href="/logout">Logout</a> </li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Popis lokacija</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Naziv lokacije</th>
                <th>Adresa</th>
                <th>Opis</th>
                <th>Akcije</th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td><a href="{{ path('location_show', { 'id': location.id }) }}">{{ location.id }}</a></td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.spot }}</td>
                    <td>{{ location.description }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('location_show', { 'id': location.id }) }}">Prikaži</a>
                        <a class="btn btn-success" href="{{ path('location_edit', { 'id': location.id }) }}">Uredi</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('location_new') }}">Kreiraj novu lokaciju</a>
    </div>
{% endblock %}
