{% extends ':location:layout.html.twig' %}

{% block navBarLinks %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije hardwera
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('category_index') }}">Lista</a></li>
            <li><a href="{{ path('category_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vlasnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('owner_index') }}">Lista</a></li>
            <li><a href="{{ path('owner_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lokacije
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('location_index') }}">Lista</a></li>
            <li><a href="{{ path('location_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odsjek
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('organization_index') }}">Lista</a></li>
            <li><a href="{{ path('organization_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Svrhe laboratorija
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('purpose_index') }}">Lista</a></li>
            <li><a href="{{ path('purpose_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Korisnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('user_index') }}">Lista</a></li>
            <li><a href="{{ path('user_new') }}">Novo</a></li>
        </ul>
    </li>
{% endblock %}

{% block navBarLinksRight %}
    <li><a href="/logout">Logout</a> </li>
{% endblock %}

{% block content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container">
        <h1>Nova lokacija</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Kreiraj" />
        {{ form_end(form) }}

        <center><a href="{{ path('location_index') }}">Natrag na listu</a></center>
    </div>
{% endblock %}
