{% extends ':organization:layout.html.twig' %}

{% block navBarLinks %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije hardwera
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('category_index') }}">Lista</a></li>
            <li><a href="{{ path('category_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vlasnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('owner_index') }}">Lista</a></li>
            <li><a href="{{ path('owner_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lokacije
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('location_index') }}">Lista</a></li>
            <li><a href="{{ path('location_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odsjek
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('organization_index') }}">Lista</a></li>
            <li><a href="{{ path('organization_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Svrhe laboratorija
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('purpose_index') }}">Lista</a></li>
            <li><a href="{{ path('purpose_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Korisnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('user_index') }}">Lista</a></li>
            <li><a href="{{ path('user_new') }}">Novo</a></li>
        </ul>
    </li>
{% endblock %}

{% block navBarLinksRight %}
    <li><a href="/logout">Logout</a> </li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Odsjeci</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Naziv odsjeka</th>
                <th>Opis</th>
                <th>Lokacija</th>
                <th>Akcije</th>
            </tr>
            </thead>
            <tbody>
            {% for organization in organizations %}
                <tr>
                    <td><a href="{{ path('organization_show', { 'id': organization.id }) }}">{{ organization.id }}</a></td>
                    <td>{{ organization.name }}</td>
                    <td>{{ organization.description }}</td>
                    <td>{{ organization.location.name }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('organization_show', { 'id': organization.id }) }}">Prikaži</a>
                        <a class="btn btn-success" href="{{ path('organization_edit', { 'id': organization.id }) }}">Uredi</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('organization_new') }}">Kreiraj novi odsjek</a>
    </div>
{% endblock %}
