{% extends 'base.html.twig' %}

{% block navigation %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">NUR</a>
            </div>
            <ul class="nav navbar-nav">
                {% block navBarLinks %}
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% block navBarLinksRight %}
                {% endblock %}
            </ul>
        </div>
    </nav>
{% endblock %}