{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/centerForm.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
    Logiraj se
{% endblock %}

{% block navBarLinks %}
    <li class="active"><a href="/login">Logiraj se</a></li>
{% endblock %}


{% block fos_user_content %}


    <div class="container">

        <h2><center>Logiraj se</center></h2>
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">E-mail:</label>
            <input id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" class="form-control"/>
            {% if error %}
                <div class="text-danger">Pogrešni podaci</div>
            {% endif %}

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />Zapamti me
                </label>
            </div>

            <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Logiraj se" />

            <a href="{{ path('fos_user_resetting_request') }}">Zaboravljena lozinka?</a>
        </form>



    </div>

{% endblock %}
