{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{  parent() }}
{% endblock %}

{% block title %}
    Šifra već zatražena
{% endblock %}

{% block navBarLinks %}
    <li><a href="/login">Logiraj se</a></li>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container-fluid">
        <div class="row pagination-centered">
            <div class="col-md-6 col-md-offset-3" style="background-color: rgba(255,255,255,0.8)">
                <p>{{ 'resetting.password_already_requested'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}





