{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
                <center><p class="text-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p></center>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" class="form-control" />
        </div>
        <div>
            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary btn-block" />
        </div>
    </form>
</div>

