{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/centerForm.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Nova šifra
{% endblock %}

{% block fos_user_content %}
    <h2><center>Unesi novu šifru</center></h2>
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
