{% extends ':Home:layout.html.twig' %}
{% block navBarLinks %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije hardwera
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('category_index') }}">Lista</a></li>
                <li><a href="{{ path('category_new') }}">Novo</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vlasnici
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('owner_index') }}">Lista</a></li>
                <li><a href="{{ path('owner_new') }}">Novo</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lokacije
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('location_index') }}">Lista</a></li>
                <li><a href="{{ path('location_new') }}">Novo</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odsjek
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('organization_index') }}">Lista</a></li>
                <li><a href="{{ path('organization_new') }}">Novo</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Svrhe laboratorija
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('purpose_index') }}">Lista</a></li>
                <li><a href="{{ path('purpose_new') }}">Novo</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Korisnici
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('user_index') }}">Lista</a></li>
                <li><a href="{{ path('user_new') }}">Novo</a></li>
            </ul>
        </li>
    {% endif %}
{% endblock %}
{% block navBarLinksRight %}
    {% if is_granted('ROLE_USER') %}
        <li><a href="/logout">Logout</a> </li>
    {% else %}
        <li><a href="/login">Logiraj se</a> </li>
    {% endif %}
{% endblock %}