{% extends ':admin/user:layout.html.twig' %}

{% block navBarLinks %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije hardwera
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('category_index') }}">Lista</a></li>
            <li><a href="{{ path('category_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vlasnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('owner_index') }}">Lista</a></li>
            <li><a href="{{ path('owner_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lokacije
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('location_index') }}">Lista</a></li>
            <li><a href="{{ path('location_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odsjek
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('organization_index') }}">Lista</a></li>
            <li><a href="{{ path('organization_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Svrhe laboratorija
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('purpose_index') }}">Lista</a></li>
            <li><a href="{{ path('purpose_new') }}">Novo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Korisnici
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('user_index') }}">Lista</a></li>
            <li><a href="{{ path('user_new') }}">Novo</a></li>
        </ul>
    </li>
{% endblock %}

{% block navBarLinksRight %}
    <li><a href="/logout">Logout</a> </li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Korisnik</h1>

        <table class="table table-hover">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Ime</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Prezime</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>mail</th>
                <td>{{ user.email }}</td>
            </tr>
            {% if user.organization %}
                <tr>
                    <th>Odsjek</th>
                    <td>{{ user.organization.name }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <br/>
        <br/>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Obriši">
        {{ form_end(delete_form) }}
        <br/>
        <a href="{{ path('user_index') }}">Natrag na listu</a>
    </div>
{% endblock %}